<div class="side-app" onload="setup()">

    <div id="ejsData" data-school="<%= JSON.stringify(school) %> "></div>
    <!-- header -->
    <div class="row">
        <div class="col-md-10 col-xl-10">
            <h1 class="page-title mb-6" style="font-size: 30px;">Senarai Kelas</h1>
        </div>

        <div class="col-md-2 col-xl-2 text-right">
            <button type="button" class="btn btn-pill btn-secondary-light"><i class="fa fa-plus mr-2"><b
                        style="font-family: sans-serif;">&nbsp;Kelas</b></i></button>
        </div>
    </div>
    <!-- /header -->

    <!-- filter -->
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <h3 class="card-title">Saring Kelas</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                class="fe fe-chevron-up text-white"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 col-xl-2">
                            <label class="form-label mt-0">Tarikh Daftar</label>
                            <div class="input-group">
                                <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text">
                            </div>
                        </div>

                        <div class="col-md-2 col-xl-2">
                            <label class="form-label mt-0">Hingga</label>
                            <div class="input-group">
                                <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text">
                            </div>
                        </div>

                        <div class="col-md-12 col-xl-4">
                            <label class="form-label mt-0">Pilih Sekolah</label>
                            <select class="form-control select2-show-search" data-placeholder="Semua">
                                <option value="#">Semua</option>
                                <option value="#">SMK Telok Mas</option>
                                <option value="#">SK Lahad Datu</option>
                                <option value="#">SMKA Sultan Muhammad</option>
                            </select>
                        </div>

                        <div class="col-md-2 col-xl-2">
                            <label class="form-label mt-0">Pilih Kelas</label>
                            <select class="form-control select2-show-search" data-placeholder="Semua">
                                <option value="#">Semua</option>
                                <option value="#">1 Bestari</option>
                                <option value="#">2 Arif</option>
                                <option value="#">5 Arif</option>
                            </select>
                        </div>

                        <div class="col-md-12 col-xl-1">
                            <label class="form-label mt-0">Status</label>
                            <select class="form-control select2-show-search" data-placeholder="Semua">
                                <option value="#">Semua</option>
                                <option value="#">Aktif</option>
                                <option value="#">Tidak Aktif</option>
                            </select>
                        </div>

                        <div class="col-md-1 col-xl-1 text-right">
                            <label class="form-label mt-0"><br></label>
                            <a href="#" class="btn btn-info"><b><i class="fa fa-search"></i></b></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /filter -->

    <!-- ROW-table -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Senarai Kelas</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover text-nowrap mb-0" id="dtbClassList">
                                    <thead class="bg-primary">
                                        <tr>
                                            <th width="40%" class="text-white">Nama Kelas</th>
                                            <th width="40%" class="text-center text-white">Guru Kelas</th>
                                            <th width="10%" class="text-center text-white">Jumlah Pelajar</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="mycustom_tbd">
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-4 END -->
</div>


<!-- MODAL -->
<div class="modal fade" id="modal_classDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-md">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Maklumat Kelas</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button> -->
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card bg-white">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover text-nowrap mb-0 p-0">
                                    <thead class="bg-info">
                                        <tr>
                                            <th width="50%" class="text-white">Nama Guru Kelas</th>
                                            <th width="15%" class="text-center text-white">Nama Kelas</th>
                                            <th width="10%" class="text-center text-white">Jumlah Pelajar</th>
                                            <th width="10%" class="text-center text-white">Tahun</th>
                                            <th width="10%" class="text-center text-white">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td width="50%">
                                                <a href="class_list.php"><b>Nurin Aina Syafiqah Binti Muhamad
                                                        Baharom</b></a><br>
                                                <t class="text-muted">SK Lahad Datu</t>
                                            </td>
                                            <td width="15%" class="text-center" style="vertical-align: middle;">5 Arif
                                            </td>
                                            <td width="12%" class="text-center" style="vertical-align: middle;">45</td>
                                            <td width="12%" class="text-center" style="vertical-align: middle;">2022
                                            </td>
                                            <td width="15%" class="text-center" style="vertical-align: middle;">
                                                <t class="badge badge-info"><b>Aktif</b></t>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Senarai Pelajar Dalam Kelas</h3>
                                <div class="card-options">
                                    <a href="#" class="btn btn-orange btn-sm ml-2"><i class="fa fa-trash"></i>
                                        Senarai</a>
                                    <a href="#" class="btn btn-danger btn-sm ml-2"><i class="fa fa-trash"></i>
                                        Kelas</a>&nbsp;&nbsp;
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Pelajar</a>
                                    <a href="#" class="btn btn-success btn-sm ml-2"><i class="fa fa-floppy-o"></i>
                                        Simpan</a>
                                </div>
                            </div>
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover text-nowrap mb-0">
                                        <thead class="bg-primary">
                                            <tr>
                                                <th width="8%" class="text-center text-white">No</th>
                                                <th width="50%" class="text-white">Nama Pelajar</th>
                                                <th width="15%" class="text-center text-white">Nama Kelas</th>
                                                <th width="12%" class="text-center text-white">Tarikh Daftar</th>
                                                <th width="15%" class="text-center text-white">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td width="8%" class="text-center">1</td>
                                                <td width="50%">
                                                    <a href="student_add.php"><b>Nurin Aina Syafiqah Binti Muhamad
                                                            Baharom</b></a><br>
                                                    <t class="text-muted">SK Lahad Datu</t>
                                                </td>
                                                <td width="15%" class="text-center" style="vertical-align: middle;">5
                                                    Arif</td>
                                                <td width="12%" class="text-center" style="vertical-align: middle;">
                                                    07/12/2022</td>
                                                <td width="15%" class="text-center" style="vertical-align: middle;">
                                                    <t class="badge badge-warning"><b>Masih Belajar</b></t>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="8%" class="text-center">2</td>
                                                <td width="50%">
                                                    <a href="student_add.php"><b>Muhammad Rahman bin
                                                            Abdullah</b></a><br>
                                                    <t class="text-muted">SMKA Sultan Muhammad</t>
                                                </td>
                                                <td width="15%" class="text-center" style="vertical-align: middle;">1
                                                    Bestari</td>
                                                <td width="12%" class="text-center" style="vertical-align: middle;">
                                                    07/12/2022</td>
                                                <td width="15%" class="text-center" style="vertical-align: middle;">
                                                    <t class="badge badge-danger"><b>Tamat Belajar</b></t>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: center;">
            </div>
        </div>
    </div>
</div>

<!-- MODAL CLOSED -->
<script>
    var ejsData
    var school
    var dtbClassList
    function setup() {

        ejsData = JSON.parse(JSON.stringify(document.getElementById("ejsData").dataset))

        document.getElementById("ejsData").remove()
        school = JSON.parse(ejsData.school)
        console.log(school)
        dtbClassList = new DataTable('#dtbClassList', {
            "columnDefs": [{
                "targets": [2, 3],
                "searchable": false
            },
            {
                "targets": [3],
                "className": "text-center"
            }
            ]


        })
    }
</script>