<style>
    button * {
        pointer-events: none;
    }
</style>

<div class="side-app" onload="setup()">

    <div id="ejsData" data-school="<%= JSON.stringify(school) %> "></div>
    <!-- header -->
    <div class="row">
        <div class="col-md-10 col-xl-10">
            <h1 class="page-title mb-6" style="font-size: 30px;">Class</h1>
        </div>

        <div class="col-md-2 col-xl-2 text-right">
            <button type="button" class="btn btn-pill btn-secondary-light" data-toggle="modal"
                data-target="#modal_classDetails">
                <i class="fa fa-plus mr-2"><b style="font-family: sans-serif;">&nbsp;Class</b></i>
        </div>
    </div>
    <!-- /header -->

    <!-- filter -->
    <!-- <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <h3 class="card-title">Saring Kelas</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                class="fe fe-chevron-up text-white"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 col-xl-2">
                            <label class="form-label mt-0">Tarikh Daftar</label>
                            <div class="input-group">
                                <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text">
                            </div>
                        </div>

                        <div class="col-md-2 col-xl-2">
                            <label class="form-label mt-0">Hingga</label>
                            <div class="input-group">
                                <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text">
                            </div>
                        </div>

                        <div class="col-md-12 col-xl-4">
                            <label class="form-label mt-0">Pilih Sekolah</label>
                            <select class="form-control select2-show-search" data-placeholder="Semua">
                                <option value="#">Semua</option>
                                <option value="#">SMK Telok Mas</option>
                                <option value="#">SK Lahad Datu</option>
                                <option value="#">SMKA Sultan Muhammad</option>
                            </select>
                        </div>

                        <div class="col-md-2 col-xl-2">
                            <label class="form-label mt-0">Pilih Kelas</label>
                            <select class="form-control select2-show-search" data-placeholder="Semua">
                                <option value="#">Semua</option>
                                <option value="#">1 Bestari</option>
                                <option value="#">2 Arif</option>
                                <option value="#">5 Arif</option>
                            </select>
                        </div>

                        <div class="col-md-12 col-xl-1">
                            <label class="form-label mt-0">Status</label>
                            <select class="form-control select2-show-search" data-placeholder="Semua">
                                <option value="#">Semua</option>
                                <option value="#">Aktif</option>
                                <option value="#">Tidak Aktif</option>
                            </select>
                        </div>

                        <div class="col-md-1 col-xl-1 text-right">
                            <label class="form-label mt-0"><br></label>
                            <a href="#" class="btn btn-info"><b><i class="fa fa-search"></i></b></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- /filter -->

    <!-- ROW-table -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Class List</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover text-nowrap mb-0" id="dtbClassList">
                                    <thead class="bg-primary">
                                        <tr>
                                            <th width="20%" class="text-center text-white">Class Name</th>
                                            <th width="50%" class="text-white">Teacher</th>
                                            <th width="10%" class="text-center text-white">Total Students</th>
                                            <th width="10%"></th>
                                            <th width="10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="mycustom_tbd">
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-4 END -->
</div>


<!-- MODAL -->
<div class="modal fade" id="modal_classDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-md">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Class Registration</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button> -->
            </div>
            <div class="modal-body">

                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label for="exampleInputname">Class Name</label>
                        <input type="text" class="form-control" id="txtnameclass">
                    </div>
                </div>



                <div class="modal-footer" style="justify-content: center;">
                </div>
                <div class="modal-footer text-white" style="justify-content: center;">
                    <a class="btn btn-warning mt-1" data-dismiss="modal">Cancel</a>
                    <a class="btn btn-success mt-1" button onclick="registerClass()">Save</a>
                    <span id="spnMsg"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL CLOSED -->
    <script>
        var ejsData
        var school
        var dtbClassList
        function setup() {

            ejsData = JSON.parse(JSON.stringify(document.getElementById("ejsData").dataset))

            document.getElementById("ejsData").remove()
            school = JSON.parse(ejsData.school)
            console.log(school)
            dtbClassList = new DataTable('#dtbClassList', {
                "columnDefs": [{
                    "targets": [2, 3],
                    "searchable": false
                },
                {
                    "targets": [0, 2, 3, 4],
                    "className": "text-center"
                }
                ]
            })

            loadClass();
        }

        function loadClass() {
            console.log("load");


            Server.request("GET", "/api/class/getClassBySchool", null, false).then(function (value) {
                var data = JSON.parse(value);
                dtbClassList.clear();
                var tmpRow;
                console.log('sni')
                console.log(data)

                data.forEach(qClass => { //temporary
                    tmpRow = dtbClassList.row.add([
                        '<button onclick="getSchool(event);" id="' + qClass.classId + '" ><b style="vertical-align: middle;">' + qClass.className + '</b></button>',
                        qClass.name,
                        qClass.total,
                        '<button class="btn btn-danger" style="vertical-align: middle;" onclick="" id="' + qClass.classId + '"><b><i class="fa fa-trash" style="font-size: 17px;"></i></b></button>',
                        '<button class="btn btn-secondary" style="vertical-align: middle;" onclick="goToClassDetails(event);" id="' + qClass.classId + '"><b><i class="fa fa-pencil" style="font-size: 17px;"></i></b></button>'
                    ]).node()
                    tmpRow.id = qClass.classId; //letak id 
                })
                dtbClassList.draw();
            }
            ).catch(function (value) {
                console.log(value);
            });
        }

        function goToClassDetails(event) {
            navigate('/classDetails?cid=' + event.target.id)
        }

        async function registerClass() {
            var action = await Swal.fire({
                type: 'question',
                title: 'Confirm Registration',
                text: 'Register new class into the system?',
                showCancelButton: true
            })
            if (action.dismiss) {
                return;
            }
            
            var className = document.getElementById("txtnameclass").value;
           
            var schoolId = document.getElementById("ejsData").value;
           
            var data = {
                "schoolId" : school,
                "className": className

            }

            Server.request("POST", "/api/class/register", data, true).then(function (value) {
                console.log(value)
                Message.createNew("Success", "s", 0);
                document.getElementById("txtnameclass").value = "";
                // $('#modal_studentForm').modal('hide');//ni auto tutup balek modal after register

            }).catch(function (value) {
                console.log(value);
                value = JSON.parse(value);
                if (value.hasOwnProperty("validationError")) {
                    displayValidationError(value);
                }
                else {
                    Message.createNew("Error", value, 3);
                }

            })
        }

    </script>