<style>
    button * {
        pointer-events: none;
    }
</style>

<div class="side-app" onload="setup();">

    <!-- header -->
    <div class="row">
        <div class="col-md-10 col-xl-10">
            <h1 class="page-title mb-6" style="font-size: 30px;">School</h1>
        </div>

        <div class="col-md-2 col-xl-2 text-right">
            <button type="button" class="btn btn-pill btn-secondary-light" data-toggle="modal"
                data-target="#modal_schoolForm">
                <i class="fa fa-plus mr-2"><b style="font-family: sans-serif;">&nbsp;School</b></i>
            </button>
        </div>
    </div>
    <!-- /header -->

    <!-- filter -->
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <h3 class="card-title">Find School</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                class="fe fe-chevron-up text-white"></i></a>
                    </div>
                </div>
                <!-- <div class="card-body">
                    <div class="row">

                        <div class="col-md-5 col-xl-5">
                            <label class="form-label mt-0">Choose School</label>
                            <select id="txtschool" class="form-control select2-show-search" data-placeholder="Semua">
                                <option value="3">SMK Telok Mas</option>
                                <option value="4">SMK Lahad Datu</option>
                                <option value="2">SMKA Sultan Muhammad</option>
                                <option value="1">DUMMY school</option>
                            </select>
                        </div>

                        <div class="col-md-2 col-xl-2">
                            <label class="form-label mt-0">Choose Class</label>
                            <select id="txtclass" class="form-control select2-show-search" data-placeholder="Semua">
                                <option value="3">1 Bestari</option>
                                <option value="4">1 Cemerlang</option>
                                <option value="5">1 Arif</option>
                                <option value="2">5 Arif</option>
                            </select>
                        </div>

                        <div class="col-md-1 col-xl-1 text-right">
                            <label class="form-label mt-0"><br></label>
                            <button onclick="loadStudent()" class="btn btn-info"><b><i
                                        class="fa fa-search"></i></b></button>
                        </div>

                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- /filter -->

    <!-- ROW-table -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">List of School</h3>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-nowrap mb-0" id="SchoolTable">
                            <thead class="bg-primary">
                                <tr>
                                    <th width="40%" class="text-white">School Name</th>
                                    <th width="20%" class="text-center text-white">Abbreviation</th>
                                    <th width="30%" class="text-white">Description</th>
                                    <!-- <th width="10%" class="text-center text-white">Area</th> -->
                                    <th width="5%" class="text-white"></th>
                                    <th width="5%" class="text-white"></th>
                                </tr>
                            </thead>
                            <tbody class="mySchool_tbd">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-4 END -->
</div>


<!-- MODAL -->
<div class="modal fade" id="modal_schoolForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-md">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel"><b>School Registration</b></h5>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>School Name</label>
                            <input type="text" class="form-control" id="txtSchoolName">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>Abbreviation</label>
                            <input type="text" class="form-control" id="txtSchoolAbbrv">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" id="txtDescription">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <select id="selectState" class="form-control select2" onchange="changeState(event)">
                                <option value="-1">Choose State</option>
                                <% states.forEach(state=> {%>
                                    <option value="<%= state['state_code']%>">
                                        <%=state["state_name"]%>
                                    </option>
                                    <%});%>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Postcode</label>

                            <div class="select-search">
                                <input id="SSPostcode" type="text" autocomplete="off" disabled class="form-control"
                                    data-list="idListPostcode" onkeyup="SSKeyHandler(event)" onfocus="SSFocus(event)"
                                    onblur="SSFocus(event)" onplay="changePostcode(event)">
                                <ul onclick="SSItemClick(event)" id="idListPostcode" data-selected="-1">
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Area</label>
                            <div class="select-search">
                                <input id="SSArea" type="text" autocomplete="off" disabled class="form-control"
                                    data-list="idListArea" onkeyup="SSKeyHandler(event)" onfocus="SSFocus(event)"
                                    onblur="SSFocus(event)">
                                <ul onclick="SSItemClick(event)" id="idListArea" data-selected="-1">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer text-white" style="justify-content: center;">
                <a class="btn btn-warning mt-1" data-dismiss="modal">Cancel</a>
                <a class="btn btn-success mt-1" id="btnRegister" onclick="registerSchool();">Save</a>
                <a class="btn btn-success mt-1" id="btnUpdate" onClick="updateSchool();"
                    style="display: none;">Update</a>
            </div>
        </div>
    </div>
</div>
<!-- MODAL CLOSED -->

<script>
    //initialize
    var selectedSchoolId;
    var tableSchool;

    function setup() {

        tableSchool = new DataTable("#SchoolTable", {
            // options 
            "columnDefs":
                [
                    { "targets": [1, 3, 4], "className": "text-center" }
                ]
        });

        loadSchool();
    }

    async function registerSchool() {

        var action = await Swal.fire({
            type: 'question',
            title: 'Confirm Registration',
            text: 'Register new school into the system?',
            showCancelButton: true
        })
        if (action.dismiss) {
            return;
        }

        //ni validation untuk check user dah pilih address
        // var areaId = document.getElementById("idListArea").dataset.selected;
        // if (areaId == "-1" || document.getElementById("txtalamat").value.length < 3) {
        //     Message.createNew("Warning", "Invalid address", 2)
        //     return false;
        // }

        var fullName = document.getElementById("txtSchoolName").value;
        var abbrv = document.getElementById("txtSchoolAbbrv").value;
        var description = document.getElementById("txtDescription").value;

        var data = {
            "fullName": fullName,
            "abbrv": abbrv,
            "description": description
        }

        Server.request("POST", "/api/school/register", data, false).then(async function (value) {
            console.log(value);
            document.getElementById("txtSchoolName").value = "";
            document.getElementById("txtSchoolAbbrv").value = "";
            document.getElementById("txtDescription").value = "";

            var action = await Swal.fire({
                type: 'success',
                title: 'Register Successfully!',
                text: '',
                showCancelButton: false
            })

            //submitAddress(studentId)//ni panggil function ak buat yg akan insertkan address ke address table guna id die
            $('#modal_schoolForm').modal('hide');//ni auto tutup balek modal after register

            //loadSchool(document.getElementById("txtSubjectCode").value);

        }).catch(function (value) {
            console.log(value);
            value = JSON.parse(value);
            if (value.hasOwnProperty("validationError")) {
                displayValidationError(value);
            }
            else {
                Message.createNew("Error", value, 3);
            }

        })
    }


    // Load list of subjects (dataTable)
    function loadSchool() {
        console.log("load");

        Server.request("GET", "/api/school/allSchool", null, false).then(function (value) {
            var data = JSON.parse(value);
            tableSchool.clear();
            var tmpRow;

            data.forEach(qSchool => { //temporary
                tmpRow = tableSchool.row.add([
                    '<button onclick="getSchool(event);" id="' + qSchool.schoolId + '"><b>' + qSchool.fullName + '</b></button>',
                    qSchool.abbrv,
                    qSchool.description,
                    '<button class="btn btn-danger" style="vertical-align: middle;" onclick="deleteSchool(event);" id="' + qSchool.schoolId + '"><b><i class="fa fa-trash" style="font-size: 17px;"></i></b></button>',
                    '<button class="btn btn-secondary" style="vertical-align: middle;" onclick="goToClassList(event)" id="' + qSchool.schoolId + '"><b><i class="fa fa-list-ul" style="font-size: 17px;"></i></b></button>'
                ]).node()
                tmpRow.id = qSchool.subjectCode; //letak id
            })
            tableSchool.draw();
            console.log(data)
        }
        ).catch(function (value) {
            console.log(value);
        });
    }

    function goToClassList(e) {
        navigate('/classList?scid=' + e.target.id)
    }

    // With filter
    // function loadSchool() {
    //     console.log("load")

    //     var school = document.getElementById("txtschool").value;
    //     var classId = document.getElementById("txtclass").value;
    //     console.log(school);


    //     Server.request("GET", "/api/account/allStudent?schoolId=" + school + "&classId=" + classId, null, false).then(function (value) {
    //         var data = JSON.parse(value);
    //         tableStud.clear();
    //         var tmpRow;
    //         data.forEach(student => { //temporary
    //             tmpRow = tableStud.row.add([
    //                 student.name + '<br><span>' + student.studentId + '</span>',
    //                 student.fullName,
    //                 student.className,
    //                 '<button onclick="deleteStud(event)" class="btn btn-danger"><b><i class="fa fa-trash  text-white" style="font-size: 17px;"></i></b></button>'
    //             ]).node()
    //             tmpRow.id = student.studentId; //letak id
    //         })
    //         tableStud.draw();
    //         console.log(data)
    //     }
    //     ).catch(function (value) {
    //         console.log(value);
    //     });
    // }

    function showId(event) {
        console.log(event.target);
    }

    function resetPostcode() {
        document.getElementById("SSPostcode").disabled = true;
        document.getElementById("SSPostcode").value = "";
        document.getElementById("idListPostcode").innerHTML = ""
        document.getElementById("idListPostcode").dataset.selected = "-1"
    }

    function resetArea() {
        document.getElementById("SSArea").disabled = true;
        document.getElementById("SSArea").value = "";
        document.getElementById("idListArea").innerHTML = ""
        document.getElementById("idListArea").dataset.selected = "-1"
    }

    function changePostcode(e) {
        if (e.target.value == '-1') {
            resetArea()
            return;
        }
        document.getElementById("SSArea").disabled = false;

        var postcode = document.getElementById(e.target.dataset.list).dataset.selected;
        getAreaInPostcode(postcode).then(function (result) {
            result = JSON.parse(result)
            var strhtml = ""
            result.forEach(area => {
                strhtml += '<li id="' + area.areaId + '">' + area.areaName + '</li>'
            });
            document.getElementById("idListArea").innerHTML = strhtml
        }).catch(function (err) {
            console.log(err)
        })
        console.log(postcode)
    }

    function changeState(e) {
        resetArea()
        resetPostcode()
        if (e.target.value == '-1') {
            return;
        }
        document.getElementById("SSPostcode").disabled = false;
        getPostcodes(e.target.value).then(function (result) {
            result = JSON.parse(result)
            var strhtml = ""
            result.forEach(pcode => {
                strhtml += '<li id="' + pcode.postcode + '">' + pcode.postcode + ' ' + pcode.postOffice + '</li>'
            });
            document.getElementById("idListPostcode").innerHTML = strhtml
        }).catch(function (err) {
            console.log(err)
        })
    }

    function submitAddress(accountId) {
        var text = document.getElementById("txtalamat").value;
        var areaId = document.getElementById("idListArea").dataset.selected;
        if (areaId == "-1") {
            Message.createNew("Warning", "Invalid address", 2)
            return false;
        }
        areaId = parseInt(areaId);
        var address = {
            "accountId": accountId,
            "addressText": text,
            "areaId": areaId
        }
        Server.request("POST", "/api/address/set", address, false).then(function (result) {
            Message.createNew("success", "address saved", 0);
            return;
        }).catch(function (err) {
            Message.createNew("err", err, 3);
            return;
        })
    }

    //view subject on Click 
    async function getSchool(event) {
        var action = await Swal.fire({
            type: 'question',
            title: 'Update this school?',
            text: 'Directing to update form',
            showCancelButton: true
        })
        if (action.dismiss) {
            return;
        }

        var data = {
            "schoolId": event.target.id
        }

        $('#modal_schoolForm').modal('show');

        document.getElementById("txtSchoolName").value = event.target.children[0].innerHTML;

        var row = event.target.parentElement.parentElement;
        console.log(row);
        document.getElementById("txtSchoolAbbrv").value = row.children[1].innerHTML;
        document.getElementById("txtDescription").value = row.children[2].innerHTML;
        document.getElementById("btnUpdate").style.display = "inline-block";
        document.getElementById("btnRegister").style.display = "none";

        selectedSchoolId = event.target.id;
    }

    async function updateSchool() {
        //submitAddress()
        var fullName = document.getElementById("txtSchoolName").value;
        var abbrv = document.getElementById("txtSchoolAbbrv").value;
        var description = document.getElementById("txtDescription").value;

        var data = {
            "schoolId": selectedSchoolId,
            "fullName": fullName,
            "abbrv": abbrv,
            "description": description
        }

        var action = await Swal.fire({
            type: 'question',
            title: 'Confirm Update?',
            text: 'This school will be updated into the system',
            showCancelButton: true
        })
        if (action.dismiss) {
            return;
        }

        Server.request("POST", "/api/school/update", data, false).then(async function (value) {
            Message.createNew("Success", value, 0);

            document.getElementById("txtSchoolName").value = "";
            document.getElementById("txtSchoolAbbrv").value = "";
            document.getElementById("txtDescription").value = "";
            document.getElementById("btnUpdate").style.display = "none";
            document.getElementById("btnRegister").style.display = "inline-block";

            var action = await Swal.fire({
                type: 'success',
                title: 'Updated Successfully!',
                text: '',
                showCancelButton: false
            })

            $('#modal_schoolForm').modal('hide');

        }).catch(function (value) {
            value = JSON.parse(value);
            if (value.hasOwnProperty("validationError")) {
                displayValidationError(value);
            }
            else {
                Message.createNew("Error", value, 3);
            }
        })
    }

    async function deleteSchool(event) {

        var action = await Swal.fire({
            type: 'question',
            title: 'Delete School?',
            text: 'This school will be removed from the system',
            showCancelButton: true
        })
        if (action.dismiss) {
            return;
        }

        var data = {
            "schoolId": event.target.id
        }

        console.log(data);

        Server.request("POST", "/api/school/delete", data, false).then(async function (value) {
            var action = await Swal.fire({
                type: 'success',
                title: 'Deleted Successfully!',
                text: '',
                showCancelButton: false
            })
            alert('ID :' + event.target.id);
            tableSchool.row("#" + event.target.parentElement.parentElement.id).remove();
            tableSchool.draw();

        }).catch(function (value) {
            console.log(value)
        })
    }
</script>