<div class="side-app">
    <div>
        <h1 class="page-title mb-6" style="font-size: 30px;">Daftar Sekolah</h1>
    </div>

    <!-- ROW-table -->
    <div class="row">

        <!-- sekolah -->
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="row">
                <div class="col-sm-12 col-md-11 col-lg-11 col-xl-11 p-0">
                    <div class="form-group">
                        <label class="form-label">Daftar Sekolah</label>
                        <input type="text" class="form-control" id="fullnamesch"
                            placeholder="Masukkan Nama Sekolah">
                    </div>
                </div>

                <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1">
                    <label class="form-label"><br></label>
                    <a href="#" class="btn btn-primary"><b><i class="fa fa-plus"></i></b></a>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Senarai Sekolah</h3>
                    </div>

                    <div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-nowrap mb-0">
                                <thead class="bg-primary">
                                    <tr>
                                        <th width="8%" class="text-center text-white">No</th>
                                        <th width="82%" class="text-white">Nama Sekolah</th>
                                        <th width="10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="8%" class="text-center" style="vertical-align: middle;">1</td>
                                        <td width="82%" style="vertical-align: middle;"><a href="#"><b>SMKA Sultan
                                                    Muhammad</b></a></td>
                                        <td width="10%" class="text-center" style="vertical-align: middle;">
                                            <a href="#" class="btn btn-danger"><b><i class="fa fa-trash"
                                                        style="font-size: 17px;"></i></b></a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="8%" class="text-center" style="vertical-align: middle;">2</td>
                                        <td width="82%" style="vertical-align: middle;"><a href="#"><b>SMK Telok
                                                    Mas</b></a></td>
                                        <td width="10%" class="text-center" style="vertical-align: middle;">
                                            <a href="#" class="btn btn-danger"><b><i class="fa fa-trash"
                                                        style="font-size: 17px;"></i></b></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /sekolah -->
    </div>

</div>
 <!-- /merah html...biru api -->
<script>
    function register()
    {
        newSch.setIntSchoolId(req.body.schoolId);
    newSch.setStrFullNameSch(req.body.fullNamesch);
    newSch.setStrAbbrvSch(req.body.abbrvsch);
    newSch.setStrDescriptionSch(req.body.descriptionsch);
        var subjectCode  = document.getElementById("selSubjectCode").value;
        var topicTitle   = document.getElementById("txtTopicTitle").value;

        var data = {
            "fullnamesch"  : fullNamesch,
            "abbrvsch"   : abbrvsch
        }

        var msg = document.getElementById("spnMsg");
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/topic/register");
        xhr.setRequestHeader("Content-Type", "application/json");  
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) { 
                if(xhr.status == 200){
                    msg.innerHTML = "Success";
                }
                else if(xhr.status == 400)
                {
                    msg.innerHTML = "Failed : " + xhr.responseText;
                }
            }
        }
        xhr.send(JSON.stringify(data));
    }
</script>
