<style>
    button * {
        pointer-events: none;
    }
</style>

<div class="side-app" onload="setup();">

    <!-- header -->
    <div class="row">
        <div class="col-md-10 col-xl-10">
            <h1 class="page-title mb-6" style="font-size: 30px;">School</h1>
        </div>
    </div>
    <!-- /header -->

    <!-- filter -->
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <h3 class="card-title">Find School</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                class="fe fe-chevron-up text-white"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label mt-0">State</label>
                                <select id="selectState" class="form-control select2" onchange="changeState(event)">
                                    <option value="-1">Choose State</option>
                                    <% states.forEach(state=> {%>
                                        <option value="<%= state['state_code']%>">
                                            <%=state["state_name"]%>
                                        </option>
                                        <%});%>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label mt-0">County</label>
                                <select id="selectCounty" class="form-control select2">

                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group">
                                    <label class="form-label mt-0">&nbsp;</label>
                                    <button onclick="loadSchool()" class="btn btn-pill btn-info-light"><b><i
                                                class="fa fa-search">&nbsp;Search</i></b>

                                    </button>
                                </div>
                                <div class="form-group">
                                    <label class="form-label mt-0">&nbsp;</label>

                                    <button id="btnReg" type="button" class="btn btn-pill btn-secondary-light"
                                        onclick="openForm()">
                                        <i class="fa fa-plus mr-2"><b
                                                style="font-family: sans-serif;">&nbsp;Register</b></i>
                                    </button>

                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /filter -->

    <!-- ROW-table -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">List of School</h3>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-nowrap mb-0" id="SchoolTable">
                            <thead class="bg-primary">
                                <tr>
                                    <th width="40%" class="text-white">School Name</th>
                                    <th width="20%" class="text-center text-white">Abbreviation</th>
                                    <th width="30%" class="text-white">Description</th>
                                    <th width="5%" class="text-white"></th>
                                    <th width="5%" class="text-white"></th>
                                </tr>
                            </thead>
                            <tbody class="mySchool_tbd">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-4 END -->
</div>


<!-- MODAL -->
<div class="modal fade" id="modal_schoolForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-md">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel"><b>School Registration</b></h5>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>School Name</label>
                            <input type="text" class="form-control" id="txtSchoolName">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>Abbreviation</label>
                            <input type="text" class="form-control" id="txtSchoolAbbrv">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" id="txtDescription">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer text-white" style="justify-content: center;">
                <a class="btn btn-warning mt-1" data-dismiss="modal">Cancel</a>
                <a class="btn btn-success mt-1" id="btnRegister" onclick="registerSchool();">Save</a>
                <a class="btn btn-success mt-1" id="btnUpdate" onClick="updateSchool();"
                    style="display: none;">Update</a>
            </div>
        </div>
    </div>
</div>
<!-- MODAL CLOSED -->

<script>
    //initialize
    var selectedSchoolId;
    var tableSchool;

    function setup() {

        tableSchool = new DataTable("#SchoolTable", {
            // options 
            "columnDefs":
                [
                    { "targets": [1, 3, 4], "className": "text-center" },
                    { "targets": [3, 4], "orderable": false, "searching": false }
                ]
        });
    }

    function openForm() {
        if (!document.getElementById('selectCounty').value) {
            Swal.fire({
                type: 'error',
                title: 'No County Selected',
                text: 'Please select state & county First'
            })
            return
        }
        document.getElementById("txtSchoolName").value = ""
        document.getElementById("txtSchoolAbbrv").value = ""
        document.getElementById("txtDescription").value = ""
        $('#modal_schoolForm').modal('show')
    }

    async function registerSchool() {

        var action = await Swal.fire({
            type: 'question',
            title: 'Confirm Registration',
            text: 'Register new school into the system?',
            showCancelButton: true
        })
        if (action.dismiss) {
            return;
        }
        var county = document.getElementById('selectCounty').value
        if (!county) {
            Message.createNew('Invalid', 'Please select county', 3)
            return;
        }

        var fullName = document.getElementById("txtSchoolName").value;
        var abbrv = document.getElementById("txtSchoolAbbrv").value;
        var description = document.getElementById("txtDescription").value;

        var data = {
            "fullName": fullName,
            "abbrv": abbrv,
            "description": description,
            "county": parseInt(county)
        }

        Server.request("POST", "/api/school/register", data, true).then(async function (value) {
            console.log(value);
            document.getElementById("txtSchoolName").value = "";
            document.getElementById("txtSchoolAbbrv").value = "";
            document.getElementById("txtDescription").value = "";

            var action = await Swal.fire({
                type: 'success',
                title: 'Register Successfully!',
                text: '',
                showCancelButton: false
            })

            //submitAddress(studentId)//ni panggil function ak buat yg akan insertkan address ke address table guna id die
            $('#modal_schoolForm').modal('hide');//ni auto tutup balek modal after register
            loadSchool()
            //loadSchool(document.getElementById("txtSubjectCode").value);

        }).catch(function (value) {
            console.log(value);
            value = JSON.parse(value);
            if (value.hasOwnProperty("validationError")) {
                displayValidationError(value);
            }
            else {
                Message.createNew("Error", value, 3);
            }

        })
    }


    // Load list of subjects (dataTable)
    function loadSchool() {
        var countyId = document.getElementById('selectCounty').value
        if (!countyId) {
            Swal.fire({
                type: 'error',
                title: 'no county selected'
            })
        }
        Server.request("GET", "/api/school/county?id=" + countyId, null, true).then(function (value) {
            var data = JSON.parse(value);
            console.log(data)
            tableSchool.clear();

            if (data.length == 0) {
                Swal.fire({
                    type: 'warning',
                    title: 'No Data',
                    text: "There's no existing school data in selected county"
                })
            }

            var tmpRow;

            data.forEach(qSchool => { //temporary
                tmpRow = tableSchool.row.add([
                    '<button onclick="getSchool(event);" id="' + qSchool.schoolId + '"><b>' + qSchool.fullName + '</b></button>',
                    qSchool.abbrv,
                    qSchool.description,
                    '<button class="btn btn-danger" style="vertical-align: middle;" onclick="deleteSchool(event);" id="' + qSchool.schoolId + '"><b><i class="fa fa-trash" style="font-size: 17px;"></i></b></button>',
                    '<button class="btn btn-secondary" style="vertical-align: middle;" onclick="goToClassList(event)" id="' + qSchool.schoolId + '"><b><i class="fa fa-list-ul" style="font-size: 17px;"></i></b></button>'
                ]).node()
                // tmpRow.id = qSchool.subjectCode; //letak id
            })
            tableSchool.draw();
            console.log(data)
        }
        ).catch(function (value) {
            console.log(value);
            tableSchool.clear();
            tableSchool.draw();
            try {
                value = JSON.parse(value)
                if (value.error) {
                    Swal.fire({
                        type: 'warning',
                        title: value.error
                    })
                }
            } catch {

            }
        });
    }

    function goToClassList(e) {
        navigate('/classList?scid=' + e.target.id)
    }

    // With filter
    // function loadSchool() {
    //     console.log("load")

    //     var school = document.getElementById("txtschool").value;
    //     var classId = document.getElementById("txtclass").value;
    //     console.log(school);


    //     Server.request("GET", "/api/account/allStudent?schoolId=" + school + "&classId=" + classId, null, false).then(function (value) {
    //         var data = JSON.parse(value);
    //         tableStud.clear();
    //         var tmpRow;
    //         data.forEach(student => { //temporary
    //             tmpRow = tableStud.row.add([
    //                 student.name + '<br><span>' + student.studentId + '</span>',
    //                 student.fullName,
    //                 student.className,
    //                 '<button onclick="deleteStud(event)" class="btn btn-danger"><b><i class="fa fa-trash  text-white" style="font-size: 17px;"></i></b></button>'
    //             ]).node()
    //             tmpRow.id = student.studentId; //letak id
    //         })
    //         tableStud.draw();
    //         console.log(data)
    //     }
    //     ).catch(function (value) {
    //         console.log(value);
    //     });
    // }

    function showId(event) {
        console.log(event.target);
    }

    function changeState(e) {
        Server.request('GET', '/api/address/county?stateCode=' + e.target.value, null, true).then(function (result) {
            result = JSON.parse(result)
            console.log(result)
            let strhtml = ""
            result.forEach(c => {
                strhtml += '<option value="' + c.countyId + '">' + c.name + '</option>'
            })
            document.getElementById('selectCounty').innerHTML = strhtml
        }).catch(function (err) {
            Message.createNew('Eror', 'Failed to recieve county list', 3)
            console.log(err)
        })
    }

    //view subject on Click 
    async function getSchool(event) {
        var action = await Swal.fire({
            type: 'question',
            title: 'Update this school?',
            text: 'Directing to update form',
            showCancelButton: true
        })
        if (action.dismiss) {
            return;
        }

        var data = {
            "schoolId": event.target.id
        }

        $('#modal_schoolForm').modal('show');

        document.getElementById("txtSchoolName").value = event.target.children[0].innerHTML;

        var row = event.target.parentElement.parentElement;
        console.log(row);
        document.getElementById("txtSchoolAbbrv").value = row.children[1].innerHTML;
        document.getElementById("txtDescription").value = row.children[2].innerHTML;
        document.getElementById("btnUpdate").style.display = "inline-block";
        document.getElementById("btnRegister").style.display = "none";

        selectedSchoolId = event.target.id;
    }

    async function updateSchool() {
        //submitAddress()
        var fullName = document.getElementById("txtSchoolName").value;
        var abbrv = document.getElementById("txtSchoolAbbrv").value;
        var description = document.getElementById("txtDescription").value;

        var data = {
            "schoolId": selectedSchoolId,
            "fullName": fullName,
            "abbrv": abbrv,
            "description": description
        }

        var action = await Swal.fire({
            type: 'question',
            title: 'Confirm Update?',
            text: 'This school will be updated into the system',
            showCancelButton: true
        })
        if (action.dismiss) {
            return;
        }

        Server.request("POST", "/api/school/update", data, true).then(async function (value) {

            document.getElementById("txtSchoolName").value = "";
            document.getElementById("txtSchoolAbbrv").value = "";
            document.getElementById("txtDescription").value = "";
            document.getElementById("btnUpdate").style.display = "none";
            document.getElementById("btnRegister").style.display = "inline-block";

            var action = await Swal.fire({
                type: 'success',
                title: 'Updated Successfully!',
                text: '',
                showCancelButton: false
            })

            $('#modal_schoolForm').modal('hide');

        }).catch(function (value) {
            value = JSON.parse(value);
            if (value.hasOwnProperty("validationError")) {
                displayValidationError(value);
            }
            else {
                Message.createNew("Error", value, 3);
            }
        })
    }

    async function deleteSchool(event) {

        var action = await Swal.fire({
            type: 'question',
            title: 'Delete School?',
            text: 'This school will be removed from the system',
            showCancelButton: true
        })
        if (action.dismiss) {
            return;
        }

        var data = {
            "schoolId": event.target.id
        }

        console.log(data);

        Server.request("POST", "/api/school/delete", data, false).then(async function (value) {
            var action = await Swal.fire({
                type: 'success',
                title: 'Deleted Successfully!',
                text: '',
                showCancelButton: false
            })
            tableSchool.row("#" + event.target.parentElement.parentElement.id).remove();
            tableSchool.draw();

        }).catch(function (value) {
            console.log(value)
        })
    }
</script>