<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPMS-Login</title>
    <link href="./res/assets/css/icons.css" rel="stylesheet" />
    <script src="./res/script/general.js"></script>
    <script src="./res/script/serverRequest.js"></script>
    <link href="/res/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet">
    <script src="/res/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <link href="/res/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/res/style.css" rel="stylesheet">

    <script>
        function togglePassword(e) {
            if (document.getElementById("txtPass").getAttribute("type") == "password") {
                document.getElementById("txtPass").setAttribute("type", "text");
                e.target.classList.add("fa-eye");
                e.target.classList.remove("fa-eye-slash");
            }
            else {
                document.getElementById("txtPass").setAttribute("type", "password");
                e.target.classList.add("fa-eye-slash");
                e.target.classList.remove("fa-eye");
            }
        }

        function validateLogin(event) {
            event.preventDefault();
            var txtId = document.getElementById("txtId");
            var txtPass = document.getElementById("txtPass");


            var validId = txtId.value.length >= 6;
            var validPass = txtPass.value.length >= 6;
            if (validId && validPass) {
                Server.login(txtId.value, txtPass.value);
            }
            else {
                Swal.fire({
                    type: 'warning',
                    title: 'invalid credentials'
                })
            }
        }
    </script>
</head>

<body id="bodyLogin">
    <div style="top: 50vh;transform: translateY(-50%);position: relative;">

        <div class="row" style="justify-content: center;vertical-align: middle;;">
            <div class="col-md-6 col-sm-12">

                <div class="box">
                    <form autocomplete="off">
                        <h2>Log In</h2>
                        <div class="inputBox">
                            <input type="text" required="required" id="txtId">
                            <span>Account Id</span>
                            <i></i>
                        </div>
                        <div class="inputBox">
                            <input type="password" required="required" id="txtPass"><i onclick="togglePassword(event)"
                                class="fa fa-eye-slash"></i>
                            <span>Password </span>
                            <i></i>
                        </div>
                        <i onclick="togglePassword(event)" class="fa fa-eye-slash mt-2"
                            style="color: #8f8f8f;">&nbsp;toggle
                            password</i>
                        <br>
                        <input type="submit" value="Login" style="color: whitesmoke;" onclick="validateLogin(event)">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>